# Dependencies
node_modules/

# Logs
logs/
*.log

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Vercel
.vercel/

# Build outputs
dist/
build/

# OS-specific
.DS_Store
Thumbs.db